.movie-cast-container {
  background-color: #282b33;
  padding-top: 59px;
}

.cast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cast-container h1 {
  font-size: 22px;
  font-family: "Courier New";
  font-weight: 600;
  color: #fff;
  padding: 0px 29px;
}

.cast-container ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cast-container ul li {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 12px;
}

.cast-container ul li img {
  width: 145px;
  border-radius: 12px;
}

.cast-container ul li p {
  color: #fff;
  font-size: 16px;
  font-family: "Courier New";
  font-weight: 600;
}
